<section class="principal-login">
    <div class="contenedor-general">
        <form class="form-recover">
            <div class="contenedor-recover">
                <h1>Introduzca su nueva contraseña</h1>
                <input type="password" class="password-recover" id="password" name="password">
                <input type="password" class="password-recover" id="confirmPassword">
                <input type="submit" id="sendReg">
            </div>
        </form>
    </div>
</section>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.all.min.js "></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/toast.js"></script>
<script src="/js/changePassword.js"></script>