<div>
    <h1>Bienvenido al chat</h1>
    <div class="chat-container">
        {{#unless (isAdmin user.role)}}
        <div>
            <input id="chatBox" type="text" placeholder="Ingresa tu mensaje">
        </div>
        {{/unless}}
        <div>
            <p id="messageLogs"></p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/toast.js"></script>
<script src="/js/chat.js"></script>