<div class="product-container">
    <button class="endShop" onclick="debugButton()">Debug</button>
    <button class="endShop" onclick="infoButton()">Info de loggin admin</button>
    <button class="endShop" onclick="warnButton()">Advertencia de productos no encontrados</button>
    <button class="endShop" onclick="errorButton()">Error de creación de producto</button>
    <button class="endShop" onclick="fatalButton()">Error fatal</button>
    <a href="/api/sessions/logout"><button class="quit-button">Cerrar Sesion de admin</button></a>
</div>
<script src="/js/loggerTest.js"></script>