<div class="container-perfil">
    <h1>Tu perfil</h1>
    <p>Nombre: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
    <a href="/api/sessions/logout"><button class="quit-button">Salir</button></a>
</div>