<div class="product-container-real">
    <div>
        <table class="tab">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Título</td>
                    <td>Descripción</td>
                    <td>Precio</td>
                    <td>Categoría</td>
                    <td>Código</td>
                    <td>Stock</td>
                </tr>
            </thead>
            <tbody id="tab">
            </tbody>
        </table>
    </div>
    <div>
        <div class="logdiv">
            <section class="form-login">
                <h2>Ingresar un producto</h2>
                <form action="" id="formIngreso">
                    <input class="entrada" type="text" value="" id="title" placeholder="Título">
                    <input class="entrada" type="text" value="" id="description" placeholder="Descripción">
                    <input class="entrada" type="text" value="" id="price" placeholder="Precio">
                    <input class="entrada" type="text" value="" id="category" placeholder="Categoria">
                    <input class="entrada" type="text" value="" id="code" placeholder="Código">
                    <input class="entrada" type="text" value="" id="stock" placeholder="Stock">
                    <input class="enviar" type="submit" id="ingresoProducto" value="Ingresar" placeholder="">
                </form>
            </section>
        </div>
    </div>
    <div>
        <div class="logdiv">
            <section class="form-login">
                <h2>Borrar un producto</h2>
                <form action="" id="formDelete">
                    <input class="entrada" type="text" value="" id="inputId" placeholder="ID">
                    <input class="enviar" type="submit" value="Borrar" placeholder="">
                </form>
            </section>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>