<section class="principal-login">
    <div class="contenedor-general">
        <form class="form-recover">
            <div class="contenedor-recover">
                <h1>Introduzca su email</h1>
                <input type="email" class="email-recover" name="email">
                <input type="submit" id="sendReg">
            </div>
        </form>
    </div>
</section>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.all.min.js "></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/toast.js"></script>
<script src="js/recover.js"></script>