* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.product-container {
    display: flex;
    justify-content: center;
}
.product-container-real {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.tab {
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
td {
    border-bottom: solid 1px white;
}
.form-login {
    width: 400px;
    background: #255c99;
    margin: auto;
    border-radius: 10px;
    box-shadow: 7px 13px 37px #262626;
    padding: 20px 30px;
    color: white;
}
    h1 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
a:hover {
    text-decoration: underline;
}
.entrada {
    width: 100%;
    border: 1px solid #262626;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #262626;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.enviar {
    width: 100%;
    height: 40px;
    background: #7EA3CC;
    border: none;
    color: white;
    margin-bottom: 16px;
}
.enviar:hover {
    text-decoration: underline;
    background-color: #434343;
}
.log {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
}
