* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: #044896;
}
h1 {
    color: white;
    margin: 10px 0px 20px 0px;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.chat-container {
    display: flex;
    justify-content: space-around;
}
br {
    margin-bottom: 5px;
}
input {
    border: none;
    padding: 10px;
    border-radius: 10px;
}
p {
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}